<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BarberTGN</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.min.css">
    </head>
<body class="admin">
    <header>
        <div class="admin_subheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 ">
                        <a href="#" class="subheader_logo"><img src="/image/icons/logo.png" alt="logo"></a>
                    </div>
                    <ul class="admin_subheader_menu col-md-10 ">
                        <li class="admin_subheader_menu_item"><a href="#admin_editor" class="admin_subheader_menu_link">Редактор причесок</a></li>
                        <li class="admin_subheader_menu_item"><a href="#admin_appointments" class="admin_subheader_menu_link">Записи</a></li>
                        <li class="admin_subheader_menu_item"><a href="#admin_vacancies" class="admin_subheader_menu_link">Вакансии</a></li>
                        <li class="admin_subheader_menu_item"><a href="#admin_calls" class="admin_subheader_menu_link">Звонки</a></li>                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="admin_main"> 
        <img src="/image/hair.jpg" alt="" class="admin_main_img">
    </section>

    <section class="admin_editor">
        <a name="admin_editor"></a>
        <div class="container">
            <h2 class="title title_white admin_title">Редактор причесок</h2>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Редактирование</th>
                    <th scope="col">Удаление</th>
                  </tr>
                </thead>
                <tbody>
                  {{{haircuts}}}
                </tbody>
              </table>
              <button class="menu_item_btn" data-modal-haircut-download>Добавить</button>
    </section>

    <section class="admin_appointments">
        <a name="admin_appointments"></a>
        <div class="container">
            <h2 class="title title_white admin_title">Записи</h2>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Id прически</th>
                    <th scope="col">ID специалиста</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">Действия</th>
                  </tr>
                </thead>
                <tbody>
                  {{{signs}}}
                </tbody>
              </table>
        </div>
    </section>

    <section class="admin_vacancies">
        <a name="admin_vacancies"></a>
        <div class="container">
            <h2 class="title title_white admin_title">Вакансии</h2>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Номер телефона</th>
                  </tr>
                </thead>
                <tbody>
                  {{{applies}}}
                </tbody>
              </table>            
        </div>
    </section>

    <section class="admin_calls">
        <a name="admin_calls"></a>
        <div class="container">
            <h2 class="title title_white admin_title">Звонки</h2>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Номер телефона</th>
                  </tr>
                </thead>
                <tbody>
                  {{{calls}}}
                </tbody>
              </table>            
        </div>
    </section>


    <div class="modal-haircut-change">
        <div class="modal-haircut-change__dialog">
            <div class="modal-haircut-change__content">
                <form method="post" action="/admin/update_haircut" enctype="multipart/form-data">
                    <div data-close-haircut-change class="modal-haircut-change__close">&times;</div>
                    <div class="modal-haircut-change__title">Редактирование прически</div>
                    <div required id="haircutname" name="haircutChangeName" class="modal-haircut-change__label"></div>
                    <input required id='nameUpdate' placeholder="Название прически" name="name" type="text" class="modal-haircut-change__input">
                    <input required id='priceUpdate' placeholder="Цена" name="haircutChangePrice" type="text" class="modal-haircut-change__input">
                    <div class="flex">
                        <input required id='imageUpdate' placeholder="Изображение" name="haircutChangeImage" type="text" readonly class="modal-haircut-change__input__file modal-haircut-change__input">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="photo" accept="image/jpeg, image/jpg, image/png">
                            <label class="custom-file-label" for="validatedCustomFile">Выберите файл...</label>
                        </div>
                    </div>
                    <input required id='idUpdate'placeholder="Прическа №" name="haircutChangeId" type="text" readonly id="haircutid" class="modal-haircut-change__input">
                    <input required type="submit" value="Сохранить" class="modal-haircut-change__btn"/>  
                </form>
            </div>
        </div>
    </div>
    <div class="modal-haircut-download">
        <div class="modal-haircut-download__dialog">
            <div class="modal-haircut-download__content">
                <form method="post" action="/admin/add_haircut" enctype="multipart/form-data">
                    <div data-close-haircut-download class="modal-haircut-download__close">&times;</div>
                    <div class="modal-haircut-download__title">Добавление прически</div>
                    <div required id="haircutname" name="haircutdownloadName" class="modal-haircut-download__label"></div>
                    <input required placeholder="Название прически" name="name" type="text" class="modal-haircut-download__input">
                    <input required placeholder="Цена" name="haircutdownloadPrice" type="number" class="modal-haircut-download__input">
                    <div class="flex">
                        <input required placeholder="Изображение" name="haircutdownloadImage" type="text" readonly class="modal-haircut-download__input__file modal-haircut-download__input">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="photo" required accept="image/jpeg, image/jpg, image/png">
                            <label class="custom-file-label" for="validatedCustomFile">Выберите файл...</label>
                        </div>
                    </div>
                    <input required type="submit" value="Сохранить" class="modal-haircut-download__btn"/>  
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="/js/scriptAdmin.js"></script>
</body>
</html>
