<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BarberTGN Admin Auth</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.min.css">
    </head>
<body class="sign">
    <section >
        <div class="container">
            <div class="row"> 
                <div class="col-md-2 offset-md-1">
                    <a href="#" ><img src="/image/icons/logo.png" alt="logo"></a>      
                </div>
                <div class="sign_title col-md-6 offset-md-1">
                    Вход в панель администратора
                </div>
            </div>
            <div class="sign_auth">
                <div class="sign_auth__content">
                    <form method="post" action="#">
                        <input required placeholder="Ваше логин" name="name" type="text" class="sign_auth__content__input">
                        <input required placeholder="Ваш пароль" name="password" type="password" class="sign_auth__content__input">
                        <input required type="submit" value="Войти" class="sign_auth__content__btn"/>
                    </form>
                </div>
            </div>          
        </div>
    </section>
</body>
</html>