$main-color: #D7BCAA
$second-color: #ff5656

=btn_hover 
	&:hover 
		background-image: none 
		background-color: $main-color

=modal 
	position: fixed
	top: 0
	left: 0
	z-index: 1050
	display: none
	width: 100%
	height: 100%
	overflow: hidden
	background-color: rgba(0, 0, 0, .5)

	&__dialog 
		max-width: 500px
		margin: 120px auto

	&__content 
		position: relative
		width: 100%
		padding: 40px
		background-color: #929292
		border: 1px solid rgba(0, 0, 0, .2)
		border-radius: 4px
		max-height: 80vh
		overflow-y: auto

	&__close 
		position: absolute
		top: 8px
		right: 14px
		font-size: 30px
		color: #000000
		opacity: .5
		font-weight: 700
		border: none
		background-color: transparent
		cursor: pointer

	&__title 
		text-align: center
		font-size: 22px
		text-transform: uppercase
		color: #000000

	&__input 
		display: block
		margin: 20px auto 20px auto
		width: 280px
		height: 50px
		background: #DEDEDE
		box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
		border: none
		font-size: 18px
		text-align: center
		padding: 0 20px
		outline: 0
		&::placeholder
			color: #000000
	
	&__btn
		display: block
		width: 172px
		height: 46px
		text-align: center
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
		border: none
		border-radius: 4px
		background-image: linear-gradient(to top, $main-color 0%, #D7AB8E 100%)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
		color: #ffffff
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		margin: 10px auto 0 auto
		+btn_hover


*
	font-family: 'Roboto', sans-serif

header
	position: relative
	height: 50px

nav
	position: fixed
	width: 100%
	height: 50px
	background-color: #212121
	z-index: 5

.menu
	display: flex
	justify-content: space-between
	padding: 13px 70px
	margin: 0
	list-style-type: none
	&_link
		color: #ffffff
		font-size: 15px
		font-weight: 300
		&:hover
			text-decoration: none
			color: $main-color
	&_item
		border-right: 2px dotted black
		padding-right: 28px
		&_btn
			box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
			border: none
			border-radius: 4px
			background-image: linear-gradient(to top, $main-color 0%, #D7AB8E 100%)
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
			color: #ffffff
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			+btn_hover


.subheader
	position: absolute
	top: 50px
	width: 100%
	height: 84px
	background-color: rgba(0, 0, 0, 0.6)
	&_logo
		display: block
		max-width: 100%
		margin-top: 2px
	&_call
		color: #ffffff
		font-size: 12px
		font-weight: 300
		margin-top: 19px
		text-align: right
	&_phone
		display: block
		margin-top: 8px
		color: #ffffff
		font-size: 22px
		font-weight: 400
		text-transform: uppercase
		text-align: right
		line-height: 12px
	&_btn
		margin-top: 19px
		width: 172px
		height: 46px
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
		border: none
		border-radius: 4px
		background-image: linear-gradient(to top, $main-color 0%, #D7AB8E 100%)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
		color: #ffffff
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		+btn_hover

.promo
	min-height: 800px
	background: url('../../image/bg/main_bg.jpg') center (center / cover) no-repeat
	padding: 150px 0 135px 0
	&_header
		color: #ffffff
		font-weight: 700
		text-transform: uppercase
		font-size: 60px
		line-height: 60px
		margin: 0
		text-align: center
	&_subheader
		color: #ffffff
		font-weight: 700
		text-transform: uppercase
		font-size: 36px
		line-height: 36px
		margin: 0
		margin-top: 22px
		text-align: center
	&_descr
		color: #ffffff
		font-size: 18px
		font-weight: 400
		line-height: 24px
		text-align: center
		margin-top: 23px
	&_btn
		display: block
		margin: 118px auto 0 auto
		width: 259px
		height: 63px
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12)
		border: none
		border-radius: 4px
		background-image: linear-gradient(to top, $main-color 0%, #D7AB8E 100%)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
		color: #ffffff
		font-size: 18px
		font-weight: 400
		text-transform: uppercase
		+btn_hover

.reasons
	padding: 71px 0 65px 0

.label
	position: relative
	margin: 0 auto
	height: 24px
	width: 112px
	padding: 5px 12px
	background-color: #000000
	color: #ffffff
	font-size: 11px
	font-weight: 300
	text-transform: uppercase
	text-align: center
	z-index: 2
	&_white 
		background-color: #fff
		color: #000
	&_min 
		width: 76px

.title
	position: relative
	margin-bottom: 0
	margin-top: 38px
	color: #222222
	font-size: 38px
	line-height: 38px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	z-index: 2
	&_white 
		color: #fff

.subtitle
	position: relative
	margin-top: 19px
	color: #222222
	font-size: 17px
	font-weight: 400
	text-align: center
	z-index: 2
	&_white 
		color: #fff

.reasons .reasons_block
	display: flex
	justify-content: center
	align-items: center
	margin-top: 35px
	.reasons_round
		display: flex
		justify-content: center
		align-items: center
		margin-right: 26px
		width: 113px
		height: 113px
		background-color: #D7BCAA
		border-radius: 100%
	.reasons_descr
		width: 343px
		.reasons_subtitle
			line-height: 21px
			color: #C7A289
			font-size: 17px
			font-weight: 400
		.reasons_text
			color: #202020
			font-size: 15px
			font-weight: 300
			line-height: 21px
	

.choice 
	position: relative
	min-height: 895px
	padding: 57px 0 138px 0
	background: url('../../image/bg/mobile_app.png') center (center / cover) no-repeat
	&_img 
		position: relative
		display: block
		margin: 100px auto 0 auto
		z-index: 2
	&_descr 
		margin-top: 15px
		text-align: center
		color: #222222
		font-size: 17px
		font-weight: 300
		line-height: 24px
	.black 
		position: absolute 
		top: 0
		left: 0
		height: 499px
		width: 100%
		background-color: #070716
		z-index: 1

.require
	padding: 68px 0 84px 0
	&_block 
		margin: 33px 0
		&_nmb
			margin-bottom: 0px
	&_title 
		color: #1ca8c3
		font-size: 22px
		font-weight: 400
	&_list 
		list-style-type: none
		padding-left: 50px
		margin-top: 22px
		li 
			position: relative
			font-size: 17px
			font-weight: 300
			line-height: 24px
			margin-bottom: 10px
			&:before 
				content: ''
				display: block 
				position: absolute
				left: -32px
				top: 3px
				width: 21px 
				height: 20px
				background: url('../../image/icons/check_blue.svg') center (center / cover) no-repeat
	&_descr 
		margin-top: 25px
		font-size: 17px
		font-weight: 300
		line-height: 24px
		color: #1ca8c3
	.warning 
		.require_title
			color: #FF8C63
		.require_list
			li 
				&:before
					background: url('../../image/icons/check_red.svg') center (center / cover) no-repeat
.world 
	position: relative
	min-height: 717px
	padding: 49px 0
	background: url('../../image/bg/map.jpg') center (center / cover) no-repeat
	&_link 
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 49px
		text-align: center
		font-size: 15px
		font-weight: 400
		line-height: 68px
		text-transform: uppercase
		color: $main-color
		&:hover 
			text-decoration: none
			color: #fff
footer 
	padding: 14px 23px 39px 23px
	a 
		&:hover 
			text-decoration: none
.footer
	&_divider
		width: 299px
		height: 4px
		background-color: #1fbad6
		margin: 0 auto
	&_wrapper
		display: flex 
		justify-content: space-between
		align-items: flex-start
		padding-top: 32px
	&_wrapper > div 
		width: 33%
		&:nth-child(3)
			display: flex 
			justify-content: flex-end
	&_social
		width: 160px
		display: flex
		justify-content: space-between
		&_item 
			display: flex 
			justify-content: center
			align-items: center
			margin: 0 4px 
			width: 32px
			height: 32px
			background-color: #070716
			border-radius: 100%
			i 
				color: #fff
	&_links
		width: 390px
		margin: 0 auto
		&_main 
			display: flex 
			justify-content: space-between
			padding: 0 10px
			a 
				color: #070716
				font-size: 15px
				font-weight: 300
				text-transform: uppercase
		&_sub 
			display: flex 
			justify-content: space-between
			margin-top: 10px
			a 
				color: #999999
				font-size: 11px
				font-weight: 300
				text-transform: uppercase
		&_lang 
			display: block 
			margin: 0 auto
			color: #1fbad6
			font-size: 11px
			font-weight: 400
			margin-top: 19px
			text-transform: uppercase
			text-align: center

.modal-order
	+modal	

.modal-job
	+modal	

.modal-haircut
	+modal	
	&__dialog 
		max-width: 800px
		margin: 90px auto
	&__label
		text-align: right
		font-size: 24px
		text-transform: uppercase
		color: #000000
	&-styl
		display: flex
		margin: 20px auto 20px auto
		justify-content: center

		&__stylists
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			margin-right: 10px
			option
				text-align: center
		&__list
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
	&-datetime
		display: flex
		margin: 20px auto 20px auto
		justify-content: center
		&__date
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			margin-right: 10px
			option
				text-align: center
		&__time
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			option
				text-align: center

		
.modal-record
	position: fixed
	top: 0
	left: 0
	z-index: 1050
	display: none
	width: 100%
	height: 100%
	overflow: hidden
	background-color: rgba(0, 0, 0, .5)

	&__dialog 
		max-width: 100%
		margin: 40px auto

	&__content 
		position: relative
		width: 100%
		padding: 40px
		background-color: #929292
		border: 1px solid rgba(0, 0, 0, .2)
		border-radius: 4px
		max-height: 90vh
		overflow-y: auto

	&__close 
		position: absolute
		top: 8px
		right: 14px
		font-size: 30px
		color: #000000
		opacity: .5
		font-weight: 700
		border: none
		background-color: transparent
		cursor: pointer

	&__title 
		text-align: center
		font-size: 22px
		text-transform: uppercase
		color: #000000
	
	a
		display: flex
		justify-content: space-between
		margin: 0
		cursor: pointer
		margin-bottom: 15px
		position: relative
		&:hover .haircut_type
			display: block
		img
			display: inline-block
			margin: 0 auto
			max-height: 383.05px
			max-height: 383.05px
		.haircut_type
			display: none;
			position: absolute
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, .5)
			&_title
				position: absolute
				left: 50%
				top: 40%
				transform: translate(-50%, -40%)
				margin: 0px
				font-size: 38px
				text-transform: uppercase
				color: #ffffff
			&_price
				position: absolute
				right: 10px
				bottom: 5px
				transform: translate(-10px, -5px)
				margin: 0px
				font-size: 30px
				text-transform: uppercase
				color: #ffffff


.sign
	background-color: #070716
	&_title
		padding-top: 20px
		color: #ffffff
		font-size: 30px
	&_auth
		width: 30%
		height: 30%
		max-width: 500px
		margin: auto
		transform: translateY(50%)
		&__content 
			position: relative
			width: 100%
			padding: 40px
			background-color: #ffffff0e
			border: 1px solid #929292
			border-radius: 4px
			max-height: 80vh

			&__input 
				display: block
				margin: 20px auto 20px auto
				width: 280px
				height: 50px
				background: #DEDEDE
				box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
				border: none
				font-size: 18px
				text-align: center
				padding: 0 20px
				outline: 0
				&::placeholder
					color: #000000
			
			&__btn
				display: block
				width: 172px
				height: 46px
				text-align: center
				box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
				border: none
				border-radius: 4px
				background-image: linear-gradient(to top, $main-color 0%, #D7AB8E 100%)
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
				color: #ffffff
				font-size: 14px
				font-weight: 400
				text-transform: uppercase
				margin: 10px auto 0 auto
				+btn_hover

.admin
	background-color: #070716
	&_title
		padding-bottom: 40px
	&_subheader
		position: fixed
		width: 100%
		z-index: 5
		height: 84px
		background-color: #171725
		&_logo
			display: block
			max-width: 100%
			margin-top: 2px
		&_menu
			display: flex
			justify-content: space-evenly
			align-items: center;
			padding: 13px 70px
			margin: 0
			list-style-type: none
			&_link
				color: #ffffff
				font-size: 15px
				font-weight: 300
				&:hover
					text-decoration: none
					color: $main-color
			&_item
				border-right: 2px dotted black
				padding-right: 28px
	&_main
		width: 100%
		height: 100%
		&_img
			display: block
			margin: 150px auto 150px auto
			z-index: 2
	&_editor
		a
			display: flex
			justify-content: space-between
			margin: 0
			cursor: pointer
			margin-bottom: 20px
			position: relative
			&:hover .haircut_type
				display: block
			img
				display: inline-block
				margin: 0 auto
				max-height: 383.05px
				max-height: 383.05px
			.haircut_type
				display: none;
				position: absolute
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, .5)
				&_title
					position: absolute
					left: 50%
					top: 40%
					transform: translate(-50%, -40%)
					margin: 0px
					font-size: 38px
					text-transform: uppercase
					color: #ffffff
				&_price
					position: absolute
					right: 10px
					bottom: 5px
					transform: translate(-10px, -5px)
					margin: 0px
					font-size: 30px
					text-transform: uppercase
					color: #ffffff
				&_btn

.modal-haircut-change
	+modal	
	&__dialog 
		max-width: 800px
		margin: 90px auto
		.flex
			display: flex
			justify-content: center
			vertical-align: middle
			width: 600px
			margin: 0 auto
			.custom-file
				display: inline-block
				vertical-align: middle
				margin: 26px auto 26px auto
				width: 250px
				box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
				border: none
				font-size: 18px
				outline: 0
				
	&__label
		text-align: right
		font-size: 24px
		text-transform: uppercase
		color: #000000
	&-styl
		display: flex
		margin: 20px auto 20px auto
		justify-content: center

		&__stylists
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			margin-right: 10px
			option
				text-align: center
		&__list
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
	&-datetime
		display: flex
		margin: 20px auto 20px auto
		justify-content: center
		&__date
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			margin-right: 10px
			option
				text-align: center
		&__time
			display: inline-block
			width: 280px
			height: 50px
			background: #DEDEDE
			box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
			border: none
			font-size: 18px
			outline: 0
			option
				text-align: center

.modal-haircut-download
	+modal	
	&__dialog 
		max-width: 800px
		margin: 90px auto
		.flex
			display: flex
			justify-content: center
			vertical-align: middle
			width: 600px
			margin: 0px auto
			.custom-file
				display: inline-block
				vertical-align: middle
				margin: 26px auto 26px auto
				width: 250px
				box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
				border: none
				font-size: 18px
				outline: 0


.show 
	display: block

.hide 
	display: none

.fade 
	animation-name: fade
	animation-duration: 1.5s

@keyframes fade 
	from 
		opacity: 0.1
	to 
		opacity: 1
